.boton-redondo {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    border: 0;
    background-color: #ffc107;
    color: white;
    font-size: 20px;
    line-height: 40px;
}

h1 {
    color: #7a7bed;
}

.container-contador {
    background-color: #7a7bed;
    padding: 1rem;
    border-radius: 30%;
    font-size: large;
    font-weight: bold;
    color: white;
    max-width: 70px;
}